html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 1em;
  background-color: #08113B;
  font-family: Proxima-nova, sans-serif;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #08113B}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.flex-container {
  display: flex
  flex-wrap: row wrap;
  justify-content: center;
  height: 200px;
  align-items: stretch;
}

header {
  display: flex;
  margin-bottom: 2rem;
  background-color: #08113B;
  min-height: 2em;
  width: 100%;
  padding-bottom: 1rem;
}

nav {
  grid-column: 1 /-1;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0 0 1.5rem;
  font-size: 32px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

main {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "banner"
  "body"
  "col1";
  grid-row-gap: 1rem;
  align-items: center;
  border-bottom: .2rem solid #ffffff;
  padding: 1rem;
  padding-top: 20rem;
}

img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  padding: 1rem;
}

.banner {
  display: block;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  height: 1em;
  background: #08113B;
  background-position: center;
  padding-bottom: 1rem;
}

.banner-text {
  grid-area: banner;
  align-self: end;
  color: #fff;
  padding: 1rem 1rem;
}

.banner-text p {
  margin-bottom: 0;
  font-size: 2em;
}

.carousel {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  height: 50em;
  overflow-x: auto;
  white-space: nowrap;
}

.carousel li {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

@media screen only (min-width; 25em) {
  .carousel {
    overflow: visible;
    white-space: normal;
  }
}

@media (min-width: 1em) {
  .text {
    font-size: 3em;
  }
}

  footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;
    align-items: center;
    color: #fff;
  }
