html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 1rem;
  background-color: #08113b;
  font-family: proxima-nova, sans-serif;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aa36f2;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 1rem #340143;
}

.button:hover {
  background-color: #08113b;
}

.button:active {
  background-color: #aa36f2;
  box-shadow: 0 1rem #340143;
  transform: translateY(1rem);
}

.flex-container {
  display: flex;
  justify-content: center;
  height: 2rem;
  align-items: stretch;
}

header {
  display: flex;
  margin-bottom: 2rem;
  background-color: #08113b;
  min-height: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}

nav {
  grid-column: 1 /-1;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0 0 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

main {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "body"
    "col1";
  grid-row-gap: 1rem;
  align-items: center;
  border-bottom: .5rem solid #aa36f2;
  padding: 1rem;
  padding-top: 20rem;
}

img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  padding: 1rem;
}

div.container1 {
  height: 10em;
  position: relative;
}

div.container1 p {
  margin: 0;
  font-size: 1.5rem;
  font-family: proxima-nova, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding-top: 7rem;
  padding-bottom: 10rem;
  transform: translate(-50%, -50%);
}

.banner {
  display: block;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  height: 1rem;
  background: #08113b;
  background-position: center;
  padding-bottom: 1rem;
}

.banner-text {
  grid-area: banner;
  align-self: end;
  color: #fff;
  padding: 1rem;
}

.banner-text p {
  margin-bottom: 0;
  font-size: 2rem;
}

.carousel {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  height: 50em;
  overflow-x: auto;
  white-space: nowrap;
}

.carousel li {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

@media screen and (min-width: 60em) {

  .carousel {
    overflow: visible;
    white-space: normal;
  }

}

@media (min-width: 1rem) {

  .text {
    font-size: 3rem;
  }

}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  align-items: center;
  color: #fff;
}
