html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 1em;
  background-color: #08113B;
  font-family: Proxima-nova, sans-serif;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  margin-bottom: 2rem;
  background-color: #08113B;
  min-height: 7em;
  width: 100%;
}

nav {
  grid-column: 1 /-1;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  margin: 0 0 1.5rem;
  font-size: 32px;
}

main {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "banner"
  "body"
  "col1";
  grid-row-gap: 1rem;
  align-items: center;
  border-bottom: .2rem solid #ffffff;
}

img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
}

.banner {
  display: block;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  height: 8em;
  background: #fff;
  padding-bottom: 1rem;
}

.banner-text {
  grid-area: banner;
  align-self: end;
  color: #fff;
  padding: 1.5rem 1rem;
}

.banner-text p {
  margin-bottom: 0;
}

figure {
  margin: 0;
}

figcaption {
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  align-items: center;
  color: #fff;
}
